*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Phần Header */
.header{
    display: flex;
    justify-content: space-between;
    margin-top:20px ;
}
.header-logo{
    display: flex ;

}
.header-logo img{
    
}
.header-list{

}
.header-list ul{
    display: flex;
    gap: 20px;
    
}
.header-list li  {
    display: flex;
    text-decoration: none;
}
.header-list a{
    text-decoration: none;
    color: black;
}
.header-download{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    padding-left: 12px;
    border-radius: 4px;
}

/* Phần Navbar */
.navbar{
    display: flex;
    margin-top: 50px;
}
.navbar-content{
    margin-top: 60px;
    margin-left:30px ;
}
.navbar-content-tittle{
    margin-top: 30px;
}
.navbar-content-icon{
    margin-top: 150px;
}
.navbar-img{
    width: 889px;
    height: 596px;
    margin-right: 30px;
}

/* Phần Main */
.main{

}
.main-skills-tittle{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}
.main-skills-icon{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 70px;

}
.main-skills-icon2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 70px;

}
.main-experience{
    margin-top: 100px;
    width: 100%;
    height: 956px;
    background-color: black;
    color: white;
    padding-top: 80px;
}
.main-experience-tittle{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}
.main-experience-google{
    margin-top: 20px;
    width: 1,148px;
    height: 192px;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px ;
    margin-right: 100px ;
}
.main-experience-google-tittle{
    display: flex;
    justify-content: space-between;
}
.main-experience-google p{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 72px;
    border: 1px solid none;
    margin-left: 180px;
    margin-top: 10px;
    line-height: 30px;

}
.main-experience-google-tittle-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 180px ;


}
.main-experience-google-tittle-text{
    padding-top: 40px;
    margin-right: 130px;
}
/* Youtube */
.main-experience-youtube{
    margin-top: 20px;
    width: 1,148px;
    height: 192px;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px ;
    margin-right: 100px ;
}
.main-experience-youtube-tittle{
    display: flex;
    justify-content: space-between;
}
.main-experience-youtube p{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 72px;
    border: 1px solid none;
    margin-left: 180px;
    margin-top: 10px;
    line-height: 30px;

}
.main-experience-youtube-tittle-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 180px ;


}
.main-experience-youtube-tittle-text{
    padding-top: 40px;
    margin-right: 130px;
}
/* apple */
.main-experience-apple{
    margin-top: 20px;
    width: 1,148px;
    height: 192px;
    border: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px ;
    margin-right: 100px ;
}
.main-experience-apple-tittle{
    display: flex;
    justify-content: space-between;
}
.main-experience-apple p{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 72px;
    border: 1px solid none;
    margin-left: 180px;
    margin-top: 10px;
    line-height: 30px;

}
.main-experience-apple-tittle-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 180px ;


}
.main-experience-apple-tittle-text{
    padding-top: 40px;
    margin-right: 130px;
}


/* Phần Footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
   padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.footer-icon{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
}
