* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
  }
  .header {
    background-color: rgb(143, 195, 143);
    text-align: center;
  }
  .main {
    display: flex;
  }
  .main-navigation {
    height: 300px;
    width: 200px;
    background-color: antiquewhite;
    padding: 20px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer {
    color: aliceblue;
    text-align: center;
    background-color: rgb(74, 70, 70);
    height: 40px;
  }

  h1 {
    color: aliceblue;
  }
  