.table{
    border-collapse: separate;
    border-spacing: 0px 0;
    padding: 10px;
    justify-content: center;
}
td, th {
    border-left: 1px solid none; 
    border-right: 1px solid rgb(198, 192, 192);
    padding: 8px;
    
}
td:last-child, th:last-child {
    border-right: none;
}
.date{
    opacity: 0.7;
}
.img{
    width: 100px;
    height: 200px;
    margin-left: 20px;
    align-items: center;
}
.content{
    opacity: 0.7;
    text-align: justify;

}
.btn{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color:white ;
    border-radius: 3px;
}