* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    text-align: center;
}

.header, .footer {
    width: 100%;
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

.footer {
    background-color: blue;
}

.main {
    display: flex;
    width: 90%;
    max-width: 1000px;
    height: 500px;
    margin: 20px 0;
    gap: 10px;
    border-radius: 3px;
}

.sidebar {
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.sidebar-1 {
    background-color: green;
    flex: 1;
    border-radius: 10px;
}

.sidebar-2 {
    background-color: pink;
    flex: 1;
    border-radius: 10px;
}

.content {
    background-color: yellow;
    flex: 2;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;

}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar-1, .sidebar-2 {
        width: 80%;
    }

    .content {
        width: 80%;
    }

    .sidebar-2 {
        order: 3; 
    }
}
