body {
    text-align: center;
    font-family: Arial, sans-serif;
}
.section-title{
    display: inline-block;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
}
.grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.item {
    width: 250px;
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}
.icon-box {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #e74c3c;
    transform: rotate(45deg);
}
.icon-box i {
    font-size: 24px;
    color: #e74c3c;
    position: relative;
}