* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 50px;
    padding: 0 20px;
  }
  .header h2 {
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
  }
  .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav ul li a {
    color: rgb(100, 100, 100);
    text-decoration: none;
    font-weight: 400;
  }
  .nav ul li a:hover {
    font-weight: bold;
  }
  .search button {
    background-color: rgb(136, 136, 145);
    border: none;
    padding: 8px 15px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }